<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />    
    <add key="ssl" value="true" />
    <add key="ldapKey" value="LDAP://10.1.0.1" />
    <add key="Dominio" value="pgr.go.cr" />
    <add key="path" value="10.1.0.1" />
    <!--<add key="Prod" value="/Pantallas" />-->
    <add key="Prod" value=""/>    
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error"/>
    </customErrors>
    <globalization culture="es-ES" uiCulture="es-ES" enableClientBasedCulture="false"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <authentication mode="Forms">
      <forms name="EvaluacionServicios" cookieless="UseCookies" protection="All" timeout="240"/>
    </authentication>
    <sessionState mode="InProc" timeout="240"/>
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI"/>
      </namespaces>
    </pages>
  </system.web>
  <connectionStrings>
    <!--<add name="Cnx" connectionString="Data Source=PGRBD01;Initial Catalog=EvaluacionServicios;User ID=pgrservicios;Password=serviciospgr" providerName="System.Data.SqlClient"/>-->

    <add name="Cnx" connectionString="Data Source=pgrdesa;Initial Catalog=EvaluacionServicios;User ID=pgrservicios;Password=serviciospgr" providerName="System.Data.SqlClient"/>
    <add name="cnxSeguridad" connectionString="Data Source=pgrprod;Initial Catalog=SEG_Seguridad;User ID=pgrseguridad;Password=seguridadpgr" providerName="System.Data.SqlClient"/>
    <!--<add name="cnxEscritos" connectionString="Data Source=pgrprod;Initial Catalog=CorrespondenciaInterna;Persist Security Info=True;User ID=pgrsistema;Password=sistemapgr" providerName="System.Data.SqlClient"/>
    <add name="cnxARD" connectionString="Data Source=pgrprod;Initial Catalog=ArchivoDigital;Persist Security Info=True;User ID=pgrarchivodigital;Password=archivodigitalpgr" providerName="System.Data.SqlClient"/>
    <add name="cnxVentanilla" connectionString="Data Source=pgrbd01;Initial Catalog=Ventanilla;Persist Security Info=True;User ID=PGRVentanilla;Password=ventanillapgr" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>