@model EvaluacionServicios.Models.Preguntas
<style>
    .k-grid .k-grid-search {
        display: flex;
        margin-left: auto;
        margin-right: 0;
    }
</style>

@(Html.Kendo().Grid(Model.lstPreguntas)
          .Name("grdPreguntas")
          .ToolBar(t => t.Search().Text("Buscar.."))
          .Columns(columns =>
          {
              columns.Bound(p => p.DescPregunta).Width(200).HeaderHtmlAttributes(new { @class = "encabezadoTabla" });
              columns.Bound(p => p.TipoPregunta).Width(70).HeaderHtmlAttributes(new { @class = "encabezadoTabla" });
              columns.Bound(p => p.ActivoMostrar).Width(40).HeaderHtmlAttributes(new { @class = "encabezadoTabla" });
              columns.Bound(p => p.IdPregunta).Hidden();
              columns.Bound(p => p.Justificar).Hidden();
              //columns.Bound(p => p.IdPregunta).HeaderHtmlAttributes(new { @class = "encabezadoTabla" }).ClientTemplate("<a href='" + Url.Action("Edit", "Preguntas", new { Pregunta = "#= DescPregunta #" }) + "' target=_self >Editar</a>").Title("Acciones").Filterable(false).Width(70);
              columns.Command(command => { command.Custom("Editar").Click("mostrarEditor"); }).Width(25).Title("Acciones");

          })
          .ToolBar(tools => tools.Excel().Text("Exportar a Excel"))
              .HtmlAttributes(new { style = "height:450px; font-size: 16px;" })
              .Pageable(pageable => pageable
              .Input(true)
              .Numeric(false)
          )
              .Excel(excel => excel
              .FileName("ListadoDePreguntas.xlsx")
              .Filterable(true)
              .AllPages(true)
              .ProxyURL(Url.Action("Exportar_Result_Excel"))
          )
             .Sortable()
             .Scrollable(scr => scr.Height(400))
             .Filterable()
             .DataSource(dataSource => dataSource
             .Ajax()
             .PageSize(20)
             .ServerOperation(false)
            )
)
<script type="text/javascript">
    function mostrarEditor(e) {
        var url = "@Url.Action("VerificaPreg", "Preguntas")";
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var data = { idPreg: dataItem.IdPregunta };

        //verifica en base de datos si la pregunta tiene respuestas asociadas, si es asi, no permite modificar la descripcion de la pregunta
        $.post(url, data).done(function (data) {
            if (data == 1) {
                $("#preguntaEditar").prop('disabled', true);
            } else {
                $("#preguntaEditar").prop('disabled', false);
            }

        }).fail(function () { alert("Error de Base de datos") });

        //Se habilita o deshabilita los formularios
        $("#frmPreguntas").css("display", "none");        
        $("#frmPreguntasEditar").css("display", "block");
        $("#preguntaEditar").val(dataItem.DescPregunta);
        $("#idPregunta").val(dataItem.IdPregunta);
        if (dataItem.TipoPregunta == "Escala de Likert") {
            $("#justificacion2").css("display", "block");
            if (dataItem.Justificar == 1) {
                $("#checkJustificacion2").prop('checked', true);
            } else {
                $("#checkJustificacion2").prop('checked', false);
            }
        } else
        {
            $("#justificacion2").css("display", "none");
        }
    }
    </script>
